/* 
*,
*::before,
*::after {
  box-sizing: border-box;
} 
*/

/* #region reset */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #2e2f42;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

/* #endregion reset */

/* #region common */
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

.list-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-prph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

/* #endregion common */

/* #region header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.span-studio {
  color: #2e2f42;
}

.header-nav .nav-list .nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-nav .nav-list .nav-link:hover,
.header-nav .nav-list .nav-link:focus {
  color: #404bbf;
}

.nav-address {
  margin-left: auto;
  font-style: normal;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* .nav-address .contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
} */

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* #endregion header */

/* #region slogan */

.page-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
}

.section-slogan {
  font-weight: 700;
  color: #ffffff;
  background-color: #2e2f42;
  padding: 188px 0;
}

.slogan-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-slogan-btn {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.section-slogan-btn:hover,
.section-slogan-btn:focus {
  background-color: #404bbf;
}

/* #endregion slogan */

/* #region benefits */

.section-benefits {
  padding: 120px 0 120px;
  /* padding-top: 120px;
  padding-bottom: 120px; */
}

.benefits-list {
  display: flex;
  align-items: center;
  gap: 24px;
  /* flex-basis: calc((100% - 24px * 3) / 4); */
}

/* #endregion benefits */

/* #region team */

.section-team {
  padding: 120px 0 120px;
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.team-list-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}

.team-info {
  padding: 32px 0;
  text-align: center;
  background-color: #fff;
}

/* #endregion team */

/* #region portfolio */

.section-portfolio {
  padding: 120px 0 120px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

/* .list-item-port {
  flex-basis: calc((100% - 48px) / 3);
} */

.portfolio-name {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

/* #endregion portfolio */

/* #region footer */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.web-footer {
  color: #f4f4fd;
}

.footer-prph {
  font-weight: 400;
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/* #endregion footer */
